body{
    background-color: slategrey;
}
h1{
    font-size: 70px;
    color: white;
}
h2{
    font-size: 50px;
    color: white;
}

button{
    font-size: 40px;
}
option{
    font-size: 30px;
}
input{
    font-size: 40px;
}
select{
    width: 20%;
}
